body {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border: 2px solid black;
    max-width: 760px;
    min-width: 300px;
}

div {
    background-color: white;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 16px;
}

h2 {
    text-align: center;
    margin-top: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
    float: left;
}

h5 {
    margin: 0;
    float: left;
}

hr {
    border: inset 1px black;
}

ul {
    display: inline-block;
    margin-top: 8px;
    padding-left: 40px;
    width: 90%;
}

p {
    margin: 0;
    text-align: center;
}

.right {
    text-align: right;
}

