body {
  background-color: lightgrey;
  margin: 0;
}

h1 {
  text-align: center;
  float: left;
  width: 50%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

#score-container {
  text-align: center;
  margin: 20px auto;
}

#miss-container {
  text-align: center;
  margin: 20px auto;
}

#memory-container {
  background-color: whitesmoke;
  text-align: center;
  margin: 32px auto;
  display: grid;
  width: 430px;
  grid-template-columns: repeat(4, 1fr);
  height: 430px;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  outline: 2px solid black;
}

.card {
  background-color: grey;
  outline: 2px solid black;
  padding-top: 22px;
}

.card p {
  color: white;
}

.hidden {
  visibility: hidden;
}

.card:hover {
  cursor:pointer;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width:100%;
}